{% extends "layout.html.twig" %}
{% block content %}
<div class="row">
        <div class="col-xs-12">
        <form role="form" id="patternForm" method="POST" action="{{ url('api_pattern_transform') }}">
            <div class="alert alert-danger" id="cypherError" role="alert" style="display: none;"></div>
            <div class="form-group">
                <label for="patternBox">Enter your pattern here</label>
                <textarea id="patternBox" class="form-control" rows="6" placeholder="" data-validator="{{ path('api_pattern_transform') }}">{{ pattern }}</textarea>
            </div>

            <button type="submit" id="gen_button" class="btn btn-info">Generate</button>&nbsp;<span id="precalculate-info"></span>
        </form>
            </div>
    </div>
    <hr />

    <div class="col-xs-12">
        <div class="exportButtons">
            <ul class="list-inline">
                <li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ app.request.basepath }}/assets/images/share.png" alt="share this graph"/> Share this graph <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" class="twitterShareLink" target="_blank"><img src="{{ app.request.basepath }}/assets/images/twitter.png" alt="share this graph on Twitter"/> Share on Twitter</a></li>
                            <li><a href="#" class="facebookShareLink" target="_blank"><img src="{{ app.request.basepath }}/assets/images/facebook.png" alt="share this graph on Facebook"/> Share on Facebook</a></li>
                            <li><a href="#" class="directLink" target="_blank"><img src="{{ app.request.basepath }}/assets/images/link.png" alt="Direct link to this graph"/> <span class="directShortLink"></span></a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ app.request.basepath }}/assets/images/export.png" alt="share this graph"/> Export <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><form action="{{ path('api_export_graphjson') }}" target="_blank" method="POST" id="exportToGraphJson">
                                    <input type="hidden" name="pattern" id="gjson_pattern"/>
                                    <input type="submit" class="noMit" value="GraphJSON">
                                </form>
                            </li>
                            <li><form action="{{ path('api_export_cypher') }}" target="_blank" method="POST" id="exportToCypher">
                                    <input type="hidden" name="pattern" id="cypher_pattern"/>
                                    <input type="submit" class="noMit" value="Cypher Queries Statement">
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
                <li> | </li>
                <li><button type="button" id="triggerPopBox" class="btn btn-success btn-circle" data-toggle="modal" data-target="#myModal">Populate your database !</button></li>
            </ul>

        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Populate your database</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="populator" action="{{ path('api_export_populate') }}">
                            <div id="popResult"></div>
                            <div class="form-group" id="populate-form-box">
                                <label for="location">Server address</label>
                                <input type="text" class="form-control" name="location" id="populate-location" value="http://localhost:7474">
                            </div>
                            <hr/>
                            Authentication (optional)
                            <div class="form-group">
                                <label for="user">User</label>
                                <input type="text" class="form-control" id="populate-user" name="user" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="populate-password" name="password" placeholder="">
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="populate-empty-condition"> Clear database before load ?
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary" id="populate-submit">Populate</button>
                        </form>
                    </div>
                    <div id="populate-debug-box"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="popFormClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="intro" class="row">
                <div class="col-xs-4">
                    <img src="{{ app.request.basepath }}/assets/images/describe.png" alt="describe" class="img-responsive img-rounded"/>
                </div>
                <div class="col-xs-4">
                    <img src="{{ app.request.basepath }}/assets/images/visualize.png" alt="describe" class="img-responsive img-rounded"/>
                </div>
                <div class="col-xs-4">
                    <img src="{{ app.request.basepath }}/assets/images/populate.png" alt="describe" class="img-responsive img-rounded"/>
                </div>
            </div>

            <div id="alchemy" class="alchemy">
                <div class="col-xs-3" id="nodeInfo" style="color: white; position:absolute; z-index: 1;">

                </div>
            </div>
        </div>
        <div class="hidden" id="gjson_result"></div>
    </div>
{% endblock %}
