{% extends "layout.html.twig" %}
{% block content %}

    <div class="col-sm-3 toc">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path('doc', {'part': 'introduction'}) }}">Introduction</a></li>
            <li><a href="{{ path('doc', {'part': 'describe-your-nodes'}) }}">Describe your nodes</a></li>
            <li><a href="{{ path('doc', {'part': 'describe-your-relationships'}) }}">Describe your relationships</a></li>
            <li><a href="{{ path('doc', {'part': 'properties'}) }}">Properties</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Faker Types Reference <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('doc', {'part': 'generic-faker-types'}) }}">Generic</a></li>
                    <li><a href="{{ path('doc', {'part': 'text-faker-types'}) }}">Text</a></li>
                    <li><a href="{{ path('doc', {'part': 'person-faker-types'}) }}">People</a></li>
                    <li><a href="{{ path('doc', {'part': 'company-faker-types'}) }}">Company</a></li>
                    <li><a href="{{ path('doc', {'part': 'date-time-faker-types'}) }}">Date &amp; time</a></li>
                    <li><a href="{{ path('doc', {'part': 'extra-faker-types'}) }}">Extra</a></li>
                </ul>
            </li>

            <li><a href="#">Node Types</a></li>
            <li><a href="#">Export your Graph</a></li>
            <li><a href="#">Examples</a></li>
            <li><a href="#">Support the project</a></li>
        </ul>
    </div>

    <div class="col-sm-9">
        {{ doctext|raw }}
    </div>


{% endblock %}